$cardColors : #979797, #3b86ff, #8b68ee, #ee3541;
@mixin setColor {
    @each $cardColor in $cardColors {
        $i: index($cardColors, $cardColor) ; 
        &.test-#{$i}{
            background: #{$cardColor}
        }
    }
}
.main_block{
    .offer{
            .card{ 
                padding: 15px;
                justify-content: center;
                text-align: center;
                color: white;
                margin-bottom: 10px;
                h3 {
                    text-align: left;   
                    font-weight: 400;
                    font-size:28px;
                }
                .card-container {
                    text-align: center;
                    justify-content: center;
                    position: relative;

                    h4{
                        font-size: 72px;
                        font-weight: 400;
                        padding: 10px 0;
            
                    }
                    p{
                        font-size: 20px;
                        min-height: 2.9em;
                    }
                    .button{
                        display: inline-block;
                        padding: 7px 10px;
                        border-radius: 4px;
                        background-color: white;
                        color: #5696ff;
                        cursor: pointer;
                        text-align: center;
                        min-width:120px;
                        cursor: pointer;

                    }
                }
                @include setColor();

            }
            .card.disable{
                opacity: 0.5;
                pointer-events: none;            }

         
        }

}